.topbar-link {
  color: white;
  &:hover {
    color: #2f343d;
  }
}

.topbar__item,
.topbar__row {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.topbar__item,
.topbar__row {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.topbar__container {
  height: 100%;
}

.site-header__topbar {
  height: 32px;
  background: #ff5782;
  box-shadow: none;
  border-bottom: none;
  font-size: 14px;
  line-height: 14px;
  color: #737373;
  position: relative;
  z-index: 20;
}
