.page-header {
    .page-header-container {
        padding-bottom: 32px;

        .page-header-breadcrumb {
            padding-top: 16px;
        }

        .page-header-title {
            padding-top: 6px;

            h1 {
                margin-bottom: 0;
            }
        }
    }
}
