.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard__address,
.dashboard__profile {
    width: calc(50% - 12px);
}

.profile-card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-card__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.profile-card__avatar img {
    border-radius: 50%;
    max-width: 100%;
}

.profile-card__name {
    font-weight: 500;
    line-height: 20px;
}

.profile-card__email {
    font-size: 15px;
    margin-bottom: 24px;
}

.dashboard__orders {
    margin-top: 24px;
    width: 100%;
}
